doctype html
html(lang='en').
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Legacy RP - Stats</title>

        <!-- Styling -->
        <link rel="stylesheet" href="/stylesheets/global.css">
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>

        <!-- Header -->
        <div class="header">
            <!-- Float left -->
            <div style="float: left">
                <li><img src="/img/logo.bmp" alt="Legacy Roleplay"></li>
            </div>
            <!-- Float right -->
            <div style="float: right">
                <li><a href="https://legacyroleplay.online/">Forums</a></li>
                <li><a href="https://github.com/ExpDev07/LegacyStats">Source Code</a></li>
            </div>
        </div>

        <div class="content">
            <p id="description">
                Search a player by their steam64, steam name, phone number, or in-game name. You will then be able to view their statistics below.
            </p>

            <div id="search">
                <input type="text" name="query" id="query" placeholder="Search for a player" />
                <a id="searchBtn" href="javascript:void(0)">Search</a>
            </div>

            <!-- The results from searching -->
            <div id="results">
                <h1>Search Results</h1>
            </div>
        </div>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/javascripts/index.js"></script>
        
    </body>
