doctype html
html(lang='en').
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Legacy RP - Stats</title>

        <!-- Styling -->
        <link rel="stylesheet" href="/stylesheets/global.css">
        <link rel="stylesheet" href="/stylesheets/profile.css">
    </head>
    <body>

        <!-- Header -->
        <div class="header">
            <!-- Float left -->
            <div style="float: left">
                <li><img src="#" alt="Logo"></li>
            </div>
            <!-- Float right -->
            <div style="float: right">
                <li><a href="#">Forums</a></li>
                <li><a href="#">Coming Soon</a></li>
            </div>
        </div>

        <div class="content">
            <h1>#{steam64}</h1>
            <p>This is a profile page</p>
        </div>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/javascripts/profile.js"></script>
        
    </body>
