#search {
    width: 100%;
}

#search * {
    padding: 20px;
}

#search input {
    width: 80%;
    font-size: 28px;
}

#searchBtn {
    border: 1px solid darkslateblue;
    background-color: darkslateblue;
}

#searchBtn:hover {
    color: white;
    background-color: #5f53ad;
}

#results {
    margin: 64px;
    padding: 24px;
    background-color: darkslateblue;
    display: none; 
}

#results a {
    background-color: #5f53ad;    
    padding: 12px;
    margin: 24px;
    display: block;
}

#results a:hover {
    color: white;
    background-color: coral;
}